.Sign_in_out_boxes{
  border:1px solid black;
  padding:15px;
  display:flex;
}
.Navbar{
  display:flex;
  justify-content: space-between;
  background-color:lightslategrey;
}
.Navbar li{
  list-style-type: none;
  margin:0 5px 0 5px;
}
.Navbar a {
  color:white;
}
.Dashboard_outer{
  padding:0 20px 0 20px;
  border:1px solid black;
  background-color:lightcyan;
}
.Dashboard_inner{
  display:flex;
  justify-content: space-between;
}
.Individual_project_box{
  border:1px solid black;
  padding:10px;
  margin:5px;
  background-color:lightgoldenrodyellow;
}
h1, h2{
  text-align:center;
}

.Sign_in{
  text-align: center;
}

.Sign_in input{
  margin:5px 0 5px 0;
}